@charset "UTF-8";
// Manipulating default colors
$dark: #202520;
$darker: #3f3f3f;
$light: #acbedd;
$transparent: rgba(0, 0, 0, 0);

$body-bg: $darker;
$body-color: $light;
$theme-colors: (
    "primary": $darker,
    "secondary": $light,
    // "success": #c6ff29,
    "info": rgb(45, 223, 178),
    "warning": #ff1818,
    "danger": #c6ff29
);

// Manipulating default shaping
$enable-rounded: false;


@import "node_modules/bootstrap/scss/bootstrap.scss";
body {
    background-color: $dark;
    text-align: center;
}

@import "./material.scss";

*{
    align-items: center;
    align-self: center;
    align-content: center;
}

.input:invalid{
    color: $warning
}

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";